@import 'bootstrap/scss/bootstrap'; // Assuming you're using SASS

.keep-playing {
  margin: 20px 0;
}

.back-to-menu {
  margin-bottom: 20px;
}

.show-stage {
  margin-top: 130px;

  h3 {
    margin-top: 30px;
  }

  @include media-breakpoint-down(md) {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.show-end {
  margin-top: 80px;

  h3, h4 {
    margin-top: 20px;
  }
}

// Transition classes for entering and exiting stages
.stage-enter {
  opacity: 0.01;
}

.stage-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.stage-exit {
  opacity: 1;
}

.stage-exit-active {
  opacity: 0.01;
  transition: opacity 1s ease-in;
}
